


// - Just a simple arrow carret  
.triangle {
  bottom: 100%;
  left: 0;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(29, 39, 46, 0);
  border-bottom-color: #E63C78;

  border-width: 10px;
  // - If you want to animate the carret
  transition: all 0.5s ease;
}

// -------------------------------------------------------------------------- Popup 1
.popupAnimated {
  background: rgba(73, 63, 51, 0.9);
  color: lightgrey;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// - Hide animation 
.popupAnimated__hidden {
  opacity: 0;
  background: white;
  height: 0;
  width: 0;
}

// - Active animation 
.popupAnimated__active {
  opacity: 1;
  background: rgba(40, 33, 31, 0.9);
  height: 200px;
  width: 240px;    // <--- NB!
}

// - Add padding to the content instead of the portal node 
.popupAnimated-content {
  padding: 10px;
  font-size: 24px;
  height: 100%;
}


// -------------------------------------------------------------------------- Popup 2

.popupAnimatedSpecial {
  background: rgba(230, 33, 31, 0.9);
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex; 
  width: 200px;
}

// - Add padding to the content instead of the portal node 
.popupAnimatedSpecial-content {
  padding: 10px;
  font-size: 24px;
  height: 100%;
}

// - Hide animation 
.popupAnimatedSpecial__hidden {
  opacity: 0;
  background: deepskyblue;
}

// - Active animation 
.popupAnimatedSpecial__active {
  opacity: 1;
  background: rgba(230, 33, 31, 0.9);
  width: 420px; // <--- NB!
}


