.popupArrow {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.popupArrow-content{
  padding: 10px;
  font-size: 24px;
}

// - Just a simple triangle carret  
.triangle {
  bottom: 100%;
  left: 0;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(29, 39, 46, 0);
  border-bottom-color: #E63C78;
  border-width: 10px;

  // - If you want to animate the carret
  transition: all 0.5s ease;
}