@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  background: linear-gradient(to left, #141E30, #243B55);
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto';
  color: whitesmoke;
  text-align: center;
  overflow: hidden;
  backface-visibility: hidden;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.75), rgba(0, 0, 0, 0));
  margin: 10px 0 0;
  clear: both;
}


.app {
  margin: 0 auto;
}

.app-content{
  padding: 30px;
}

.box {
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
}

.toolbar{
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
}