@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  background: linear-gradient(to left, #141E30 , #243B55);
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  
  padding: 0;
  margin: 0;

  font-size: 14px;
  font-family: 'Roboto';

  color: whitesmoke;

  text-align: center;
  overflow:hidden;
}

.app {
  margin: 0 auto;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 910px;
  margin-left: 25%;
}

.box{
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  width: 210px;
  height: 30px;
}

.popup {
	background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  backface-visibility: hidden;
}

.popup:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(29, 39, 46, 0);
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-width: 10px;
	margin-left: -10px;
}


.popup__hidden{
  opacity: 0;
  background: ghostwhite;
}

.popup__active{
  opacity: 1;
	background: rgba(0, 0, 0, 0.9);
}


.popup-content{
  padding: 10px;
  font-size: 32px;
  width: 320px;
}

hr {
  border: 0;
    height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    margin: 10px 0 30px;
      clear: both;
}

.attach-to-border-right{
  position: absolute;
  right: -18%;
}

.attach-to-border-left{
  position: absolute;
  left: -20%;
}